@(user: UserModel)

@main(user, "Upload") {

    <div class="centercontent" ng-controller="AppsController">
          <div class="contenttitle2">
                	<h3>Upload Your APP</h3>
                </div><!--contenttitle-->
                						<p>
                						<select ng-model="category" id="category" name="category" ng-options="category.id as category.name group by category.type for category in categories">
			                            </select>
				                        <span class="stdbtn btn_lime">
									        <span onclick="jQuery('#file_upload').trigger('click');return true;">Please click to select APK file...</span>
									        <!-- The file input field used as target for the file upload widget -->
									        <input id="file_upload" name="files[]" type="file" multiple="false" data-url='@routes.Developer.uploadAPK()' style="display:none;"/>
									    </span>
									    <br>
									    <!-- The global progress bar -->
									    <div id="progress" class="progress" style="display:none;">
				                            <div class="bar2">
				                            <div class="value bluebar" style="width: 0%;">Uploaded (%)</div></div>
				                        </div>
				                        </p>
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
                    <colgroup>
                        <col class="con0" style="width: 4%" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                    </colgroup>
                    <thead>
                        <tr>
                          <th class="head0 nosort"><input type="checkbox" /></th>
                            <th class="head0">APP Name</th>
                            <th class="head1">Category</th>
                            <th class="head0">Version</th>
                            <th class="head1">Version Code</th>
                            <th class="head0">Package Name</th>
                            <th class="head1">Icon</th>
                            <th class="head0">Downloads</th>
                            <th class="head1">Upload Time</th>
                            <th class="head0" style="width:10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX" ng-repeat="app in apps">
                          <td align="center"><span class="center">
                            <input type="checkbox" value="{{app.id}}"/>
                          </span></td>
                            <td>{{app.appname}}</td>
                            <td>{{app.category.name}}</td>
                            <td>{{app.appVersion}}</td>
                            <td>{{app.appVersionCode}}</td>
                            <td>{{app.packageName}}</td>
                            <td><img ng-src='{{app.iconUrl}}' style="width:100px;height:100px"/></td>
                            <td>
                            <a ng-href='{{app.downurl}}'>DOWNLOAD</a>
                            </td>
                            <td>{{app.createdAt}}</td>
                            <td class="center">
                            <ul class="buttonlist">
		                        <li class="deleteApp"><button  ng-click='deleteApp($index)' class="stdbtn btn_red">Delete</button></li>
		                   </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
	</div><!-- centercontent -->   
}
	<link rel="stylesheet" href=@routes.Assets.at("css/jquery.fileupload.css")>
<link rel="stylesheet" href=@routes.Assets.at("css/jquery.fileupload-ui.css")>
	<script type="text/javascript" src="@routes.Assets.at("js/developercontroller.js")"></script>
<script type="text/javascript" src=@routes.Assets.at("js/plugins/jquery-ui-1.8.16.custom.min.js")></script>
<script type="text/javascript" src=@routes.Assets.at("js/vendor/jquery.ui.widget.js")></script>
<script type="text/javascript" src=@routes.Assets.at("js/jquery.fileupload.js")></script>
	<script>
	//category listener
	jQuery('#category').change(function(){
		var category = angular.element('[ng-controller=AppsController]').scope().category.id;
		var url = jQuery('#file_upload')[0].dataset.url;
		var pos = url.indexOf("=");
		if(pos > 0){
			jQuery('#file_upload')[0].dataset.url = url.substring(0, pos+1) + category;
		}else{
			jQuery('#file_upload')[0].dataset.url = url + "?cid=" + category;
		}
	});
	
//load upload image file
	jQuery('#file_upload').fileupload({
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(apk)$/i,
        maxFileSize: 20000000, // 20 MB
        autoUpload: true,
        add: function(e, data) {
	      data.url = jQuery('#file_upload')[0].dataset.url;
	      data.submit();
	      jQuery('#progress').css('display', 'block');
	    },
        done: function (e, data) {
	        	alert("Successfully upload an APK!");
	        	angular.element('[ng-controller=AppsController]').scope().addApp(data.result);
	        	jQuery('#progress').css('display', 'none');
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            jQuery('#progress .value').css(
                'width',
                progress + '%'
            ).text("Uploaded " + progress + "%");
        }
    }).on('fileuploadfail', function (e, data) {
        alert('File upload failed.');
        jQuery('#progress').css('display', 'none');
    }).prop('disabled', !jQuery.support.fileInput)
        .parent().addClass(jQuery.support.fileInput ? undefined : 'disabled');
        </script>
