         
         <div class="prodwrapper">   
         
        	<div class="prodhead">
            	<ul class="prodhead_menu">
                    <li><a ng-click="prevPage()" class="prev {prev_disabled: page.start==1}"></a></li>
                    <li><a ng-click="nextPage()" class="next {next_disabled: page.end==page.total}"></a></li>
                    <li class="right"><span class="pagenuminfo">Showing {{page.start}} - {{page.end}} of {{page.total}}</span></li>
                </ul>
                <span class="clearall"></span>
            </div><!--prodhead-->
         
         	<div class="prodcontent">
            
                <ul class="prodlist">
                    <li  prod-hover ng-repeat='app in apps'>
                    	
                        <div class="thumb" align="center">
	                        	<img ng-src="{{app.iconUrl}}" alt="{{app.appname}}" />
                        </div>
                        <div class="content" >
                        	<a ng-href="{{app.downurl}}">
                        	<div class="contentinner">
                            	<div>
                            		<span class="price">{{app.price}}G</span>
                            		<a ng-href="{{app.downurl}}" class="title">{{app.appname}}</a>
                                </div>
                                <div class="by">Downloads:{{app.downloads}}</a></div>
                                <p class="desc" align="center"><a ng-href="{{app.downurl}}"><img ng-src="http://api.qrserver.com/v1/create-qr-code/?data={{app.downurl}}&size=100x100"/></a></p>
                            </div><!--contentinner-->
                            </a>
                        </div><!--content-->
                        
                    </li>

                </ul>
                
            
            </div><!--prodcontent-->
            
            <br clear="all" /><br /><br />
            
         </div><!--prodwrapper-->
