@(user: UserModel)

@main(user, "Upload") {

    <div class="centercontent" ng-app ng-controller="AppsController">
          <div class="contenttitle2">
                	<h3>Upload Your APP</h3>
                </div><!--contenttitle-->
                						<p>
                						<select id="category" name="category" >
                							<option value="0">Choose One Category</option>
			                            	<option value="{{category.id}}" ng-repeat="category in categories">{{category.name}}</option>
			                            </select>
				                        <span class="btn btn-success fileinput-button">
									        <i class="glyphicon glyphicon-plus"></i>
									        <span>Please click to select APK file...</span>
									        <!-- The file input field used as target for the file upload widget -->
									        <input id="file_upload" name="files[]" type="file" multiple="false" data-url='@routes.Developer.uploadAPK()'>
									    </span>
									    <br>
									    <!-- The global progress bar -->
									    <div id="progress" class="progress">
									        <div class="progress-bar progress-bar-success"></div>
									    </div>
				                        </p>
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
                    <colgroup>
                        <col class="con0" style="width: 4%" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                    </colgroup>
                    <thead>
                        <tr>
                          <th class="head0 nosort"><input type="checkbox" /></th>
                            <th class="head0">APP Name</th>
                            <th class="head1">Category</th>
                            <th class="head0">Version</th>
                            <th class="head1">Version Code</th>
                            <th class="head0">Package Name</th>
                            <th class="head1">Icon</th>
                            <th class="head0">Downloads</th>
                            <th class="head1">Upload Time</th>
                            <th class="head0" style="width:10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX" ng-repeat="app in apps">
                          <td align="center"><span class="center">
                            <input type="checkbox" value="{{app.id}}"/>
                          </span></td>
                            <td>{{app.appname}}</td>
                            <td>{{app.category.name}}</td>
                            <td>{{app.appVersion}}</td>
                            <td>{{app.appVersionCode}}</td>
                            <td>{{app.packageName}}</td>
                            <td><img ng-src='{{app.iconUrl}}' style="width:100px;height:100px"/></td>
                            <td>
                            <a ng-href='{{app.downurl}}'>DOWNLOAD</a>
                            </td>
                            <td>{{app.createdAt}}</td>
                            <td class="center">
                            <ul class="buttonlist">
		                        <li class="deleteCourse"><button  ng-click='deleteApp("{{app.id}}")' class="stdbtn btn_red">Delete</button></li>
		                   </ul>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
	</div><!-- centercontent -->   
	<link rel="stylesheet" href=@routes.Assets.at("css/jquery.fileupload.css")>
<link rel="stylesheet" href=@routes.Assets.at("css/jquery.fileupload-ui.css")>
	<script type="text/javascript" src="@routes.Assets.at("js/developercontroller.js")"></script>
<script type="text/javascript" src=@routes.Assets.at("js/plugins/jquery-ui-1.8.16.custom.min.js")></script>
<script type="text/javascript" src=@routes.Assets.at("js/vendor/jquery.ui.widget.js")></script>
<script type="text/javascript" src=@routes.Assets.at("js/jquery.fileupload.js")></script>
	<script>
	//category listener
	jQuery('#category').change(function(){
		var category = jQuery(this).children('option:selected').val();
		var url = jQuery('#file_upload')[0].dataset.url;
		var pos = url.indexOf("=");
		if(pos > 0){
			jQuery('#file_upload')[0].dataset.url = url.substring(0, pos+1) + category;
		}else{
			jQuery('#file_upload')[0].dataset.url = url + "?cid=" + category;
		}
	});
	
//load upload image file
	uploadButton = jQuery('<button/>')
            .addClass('btn btn-primary')
            .prop('disabled', true)
            .text('Processing...')
            .on('click', function () {
                var jQuerythis = jQuery(this),
                    data = jQuerythis.data();
                jQuerythis
                    .off('click')
                    .text('Abort')
                    .on('click', function () {
                        jQuerythis.remove();
                        data.abort();
                    });
                data.submit().always(function () {
                    jQuerythis.remove();
                });
            });
	jQuery('#file_upload').fileupload({
        dataType: 'json',
        acceptFileTypes: /(\.|\/)(apk)$/i,
        maxFileSize: 20000000, // 20 MB
        autoUpload: true,
        add: function(e, data) {
	      data.url = jQuery('#file_upload')[0].dataset.url;
	      data.submit();
	    },
        done: function (e, data) {
	        	alert(data.result);
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            jQuery('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).on('fileuploadfail', function (e, data) {
        jQuery.each(data.files, function (index, file) {
            var error = jQuery('<span class="text-danger"/>').text('File upload failed.');
            jQuery(data.context.children()[index])
                .append('<br>')
                .append(error);
        });
    }).prop('disabled', !jQuery.support.fileInput)
        .parent().addClass(jQuery.support.fileInput ? undefined : 'disabled');
        </script>
