@(user: UserModel)

@main(user, "Hot APPs") {

    <div class="centercontent" ng-app="appsList">
    
        <div class="pageheader notab">
            <h1 class="pagetitle">Hot APPs</h1>
            <span class="pagedesc">hottest apps in this world.</span>
        </div><!--pageheader-->
        
        <div id="contentwrapper" class="contentwrapper nopadding" ng-controller='HotController'>
         
         <div class="prodwrapper">   
         
        	<div class="prodhead">
            	<ul class="prodhead_menu">
                    <li><a ng-click="prevPage()" class="prev {prev_disabled: page.start==1}"></a></li>
                    <li><a ng-click="nextPage()" class="next {next_disabled: page.end==page.total}"></a></li>
                    <li class="right"><span class="pagenuminfo">Showing {{page.start}} - {{page.end}} of {{page.total}}</span></li>
                </ul>
                <span class="clearall"></span>
            </div><!--prodhead-->
         
         	<div class="prodcontent">
            
                <ul class="prodlist">
                    <li class="one_third" prod-hover ng-repeat='app in hotapps'>
                        <div class="thumb" align="center">
	                        <a ng-href="{{app.downurl}}">
	                        	<img ng-src="{{app.iconUrl}}" alt=""  style="width:162px;height:162px"/>
	                        </a>
                        </div>
                        <div class="content" ng-href="{{app.downurl}}">
                        	<div class="contentinner">
                            	<div>
                            		<span class="price">{{app.version}}</span>
                            		<a href="#" class="title">{{app.name}}</a>
                                </div>
                                <div class="by">By: <a href="#">{{app.author.name}}</a></div>
                                <p class="desc" align="center"><img ng-src="http://api.qrserver.com/v1/create-qr-code/?data={{app.downurl}}&size=120x120"/></p>
                            </div><!--contentinner-->
                        </div><!--content-->
                    </li>

                </ul>
                
            
            </div><!--prodcontent-->
            
            <br clear="all" /><br /><br />
            
         </div><!--prodwrapper-->
            
        </div><!--contentwrapper-->
                
	</div><!-- centercontent -->
	<script type="text/javascript" src="@routes.Assets.at("js/hotappcontroller.js")"></script>
}    
