@(user: UserModel, title: String)(content: Html)

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="appsList">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@title - Ultimate Black APP Market</title>
<link rel="stylesheet" href="@routes.Assets.at("css/style.default.css")" type="text/css" />
</head>

<body class="withvernav">

<div class="bodywrapper">
    <div class="topheader">
        <div class="left">
            <h1 class="logo">ULTIMATE BLACK.<span>APP MARKET</span></h1>
            <span class="slogan">total free to download and upload</span>
            
            <div class="search">
            	<form action="#" method="post">
                	<input type="text" name="keyword" id="keyword" value="Enter keyword(s)" />
                    <button class="submitbutton"></button>
                </form>
            </div><!--search-->
            
            <br clear="all" />
            
        </div><!--left-->
        
        <div class="right">
        	@if(user != null){
            <div class="userinfo">
            	<img src="@routes.Assets.at("images/thumbs/avatar.png")" alt="" />
                <span>@user.name</span>
            </div><!--userinfo-->
            
            <div class="userinfodrop">            	
            	<div class="avatar">
                	<a href="#"><img src="@routes.Assets.at("images/thumbs/avatarbig.png")" alt="" /></a>
                    <div class="changetheme">
                    	Change theme: <br />
                    	<a class="default"></a>
                        <a class="blueline"></a>
                        <a class="greenline"></a>
                        <a class="contrast"></a>
                        <a class="custombg"></a>
                    </div>
                </div><!--avatar-->
				<div class="userdata">
                	<h4>@user.name</h4>
                    <span class="email">@user.email</span>
                    <ul>
                        <li><a href="accountsettings.html">Account Settings</a></li>
                        <li><a href="help.html">Help</a></li>
                        <li><a href="index.html">Sign Out</a></li>
                    </ul>
                </div><!--userdata-->
            </div><!--userinfodrop-->
            }else{
            <a href="@routes.Application.login()">
            	<button class="stdbtn btn_lime">Sign In</button>
            </a>
            }
        </div><!--right-->
    </div><!--topheader-->
    
    
    <div class="header">
    	<ul class="headermenu">
        	<li><a href="@routes.Application.index()"><span class="icon icon-flatscreen"></span>HOT APPS</a></li>
            <li><a href="@routes.Application.categoryApps()"><span class="icon icon-pencil"></span>Categories</a></li>
            <li><a href="@routes.Application.newestApps()"><span class="icon icon-message"></span>Newest</a></li>
            <li><a href="@routes.Developer.index()"><span class="icon icon-chart"></span>Upload</a></li>
        </ul>
        
        <div class="headerwidget">
        	<div class="earnings">
            	<div class="one_half">
                	<h4>DOWNLOADs</h4>
                    <h2>347,893</h2>
                </div><!--one_half-->
                <div class="one_half last alignright">
                	<h4>Total APPs</h4>
                    <h2>16532</h2>
                </div><!--one_half last-->
            </div><!--earnings-->
        </div><!--headerwidget-->
        
    </div><!--header-->
    
	@content
<!--bodywrapper-->
<script type="text/javascript" src=@routes.Assets.at("js/jquery.min.js")></script>
<script type="text/javascript" src=@routes.Assets.at("js/angular.min.js")></script>
<script type="text/javascript" src=@routes.Assets.at("js/plugins/jquery.cookie.js")></script>
<script type="text/javascript" src=@routes.Assets.at("js/custom/general.js")></script>

<script>
var appModule = angular.module('appsList', []);

      appModule.directive('prodHover', function() {
        return {
          link: function(scope, element, attrs, controller) {
            jQuery(element).hover(function(){
				jQuery(this).find('.contentinner').stop().animate({marginTop: 0});
				},function(){
					jQuery(this).find('.contentinner').stop().animate({marginTop: '132px'});
				});
          }
        };
      });
</script>
  
<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/style.ie9.css")"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/style.ie8.css")"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

</body>

</html>

